<div class="wrapper">
    <div class="container">
        <p class="title"><%= decisionText %></p>
        <div class="choices">
          <% for (var i = 0; i < buttons.length; i++) {%>
            <% if (buttons[i].triggerScript != null && buttons[i].triggerTarget != null) { %>
              <button 
              class="decision-button" 
              hx-trigger="triggerClick"
              hx-on:click="window.interactivity.clickBus(event)"
              hx-get="/<%= buttons[i].triggerScript %>" 
              hx-target="<%= buttons[i].triggerTarget %>" 
              hx-swap="<%= buttons[i].swap ? buttons[i].swap : 'innerHtml' %>"
              data-sound="<%= buttons[i].soundEffect ? JSON.stringify(buttons[i].soundEffect) : 'null' %>">
                <%= buttons[i].buttonText %>
              </button>
            <% } else { %>
              <button 
              class="decision-button" 
              hx-get="/deleteme" 
              hx-swap="delete" 
              hx-target="#decision-box .wrapper"
              hx-on:click="window.interactivity.clickBus(event)">
                <%= buttons[i].buttonText %>
              </button>
            <% } %>
          <% } %>
        </div>
    </div>
</div>

<!-- If a decision box is spawned, clear any message boxes -->
<div id="text-overlay" hx-on="htmx:load: window.interactivity.typeWriter()" hx-swap-oob="true"></div>


