<% if (nextMessage != null) { %>
  <div class="wrapper revealed" hx-get="/<%= nextMessage %>" hx-target="#text-overlay" hx-trigger="triggerClick" hx-on:click="window.interactivity.clickBus(event)" data-streamMessage="true">
    <div class="blinking-arrow revealed">&#129171;</div>
<% } else if (triggerScript != null && targetId != null) { %>
  <div class="wrapper revealed" hx-get="/<%= triggerScript %>" hx-target="<%= targetId %>" hx-trigger="triggerClick" hx-swap="<%= swap ? swap : 'innerHtml' %>" hx-on:click="window.interactivity.clickBus(event)" data-streamMessage="true">
    <div class="blinking-arrow">&#129171;</div>
<% } else { %>
  <div class="wrapper revealed" hx-get="/deleteme" hx-swap="delete" hx-trigger="triggerClick" hx-on:click="window.interactivity.clickBus(event)" data-streamMessage="true">
    <div class="blinking-arrow">&#129171;</div>
<% } %>
  <div class="text-box">
    <p class="text-message"><%- textString %></p>
  </div>
</div>


<!-- If a message box is spawned, clear any decision boxes -->
<div id="decision-box" hx-swap-oob="true"></div>











