<% if (nextMessage != null) { %>
  <div class="wrapper revealed" hx-get="/<%= nextMessage %>" hx-target="#text-overlay" hx-trigger="messageClick">
    <div class="blinking-arrow revealed">&#129171;</div>
<% } else if (triggerScript != null && targetId != null) { %>


  <% switch(triggerScriptType) {
    case 'GET' : %>
    <div class="wrapper revealed" hx-get="/<%= triggerScript %>" hx-target="<%= targetId %>" hx-trigger="messageClick" hx-swap="<%= swap ? swap : 'innerHtml' %>">
      <div class="blinking-arrow">&#129171;</div>
    <% break;

    case 'POST' : %>
    <div class="wrapper revealed" hx-post="/<%= triggerScript %>" hx-target="<%= targetId %>" hx-trigger="messageClick" hx-swap="<%= swap ? swap : 'innerHtml' %>">
      <div class="blinking-arrow">&#129171;</div>
    <% break;

    case 'PUT' : %>
    <div class="wrapper revealed" hx-put="/<%= triggerScript %>" hx-target="<%= targetId %>" hx-trigger="messageClick" hx-vals="<%= actionData %>" hx-swap="<%= swap ? swap : 'innerHtml' %>" name="message-box">
      <div class="blinking-arrow">&#129171;</div>
    <% break;

    }
    %>


<% } else { %>
  <div class="wrapper revealed" hx-get="/deleteme" hx-swap="delete" hx-trigger="messageClick">
    <div class="blinking-arrow">&#129171;</div>
<% } %>
  <div class="text-box">
    <p class="text-message"><% var space = "&nbsp;"%><% for (var i = 0; i < textArray.length; i++) {%><% var characters = textArray[i].text.split('') %><% for (var j = 0; j < characters.length; j++) {%><span class="<%= textArray[i].classes %>" data-speed="<%= characters[j] == ' ' ? 0 : textArray[i].speed %>"><%- characters[j] == " " ? space : characters[j] %></span><% } %><% } %></p>
  </div>
</div>


<!-- If a message box is spawned, clear any decision boxes -->
<div id="decision-box" hx-swap-oob="true"></div>












