<!-- Primary Scene -->
<div id="main-scene" class="transition <%= commonState.isCurrentlyDark ? 'is-dark' : '' %>" data-context="<%= commonState.context %>">
  <% if (commonState.showSceneStartItems == true) { %>
    <div id="area-title" class="<%= commonState.visited ? '' : 'revealed'  %>"><%= areaTitle %></div>
    <div id="start-up" hx-trigger="load throttle:0.5s" hx-get="/scenes/<%= id %>/startmessage" hx-target="#text-overlay"></div>
  <% } %>
  <div id="text-overlay" hx-on="htmx:load: window.interactivity.typeWriter('message')"></div>
  <div id="npc-dialogue" hx-on="htmx:load: window.interactivity.typeWriter('dialogue')"></div>
  <div id="decision-box"></div>
  <div id="is-dark"></div>
  <div class="overlay">
    <svg>
      <defs>
        <filter id="f1" x="0" y="0">
          <feGaussianBlur in="SourceGraphic" stdDeviation="3" />
        </filter>
      </defs>
      <% for (let key in overlayNodes) {%>
        <% if (overlayNodes[key].context == commonState.context) {%>
          <%- include('./polygon', overlayNodes[key]); %>
        <% }%>
      <% } %>
    </svg>
  </div>
  <div id="fragments">
    <% if (fragments != null) { %>
      <% for (let key in fragments) {%>
        <img
          src="/<%= fragments[key].path %>"
          class="fragment-image <%= fragments[key].show ? 'revealed' : ''  %>"
          id="#fragment-<%= key %>"
        />
      <% } %>
    <% } %>
  </div>
  <div id="basemat">
    <img
      src="/<%= basemats.current %>"
      class="base-image"
      id="#basemat-<%= id %>"
    />
  </div>
</div>
  
