<!-- Primary Scene -->
<div id="main-scene" class="transition <%= sceneData.commonState.isCurrentlyDark ? 'is-dark' : '' %>" data-context="<%= playerData.context %>">
  <% if (sceneData.commonState.showSceneStartItems == true) { %>
    <div id="area-title" class="<%= sceneData.commonState.visited ? '' : 'revealed'  %>"><%= sceneData.areaTitle %></div>
    <div id="start-up" hx-trigger="load throttle:0.5s" hx-get="/scenes/startmessage?sceneId=<%= sceneData.id %>" hx-target="#text-overlay"></div>
  <% } %>
  <div id="text-overlay" hx-on="htmx:load: window.interactivity.typeWriter('message')"></div>
  <div id="npc-dialogue" hx-on="htmx:load: window.interactivity.typeWriter('dialogue')"></div>
  <div id="decision-box"></div>
  <div id="is-dark"></div>
  <div class="overlay">
    <svg id="overlay-svg">
      <defs>
        <filter id="f1" x="0" y="0">
          <feGaussianBlur in="SourceGraphic" stdDeviation="3" />
        </filter>
      </defs>

      <% for (let key in sceneData.overlayNodes) {%>
        <% if (playerData.context == "item") { %>
          <% for (let itemContext in sceneData.overlayNodes[key].contexts.item) {%>
            <% if (sceneData.overlayNodes[key].contexts.item[itemContext].linkedItemId == playerData.currentItem) { %>
              <%- include('./polygon', {coords: sceneData.overlayNodes[key].coords, data: sceneData.overlayNodes[key].contexts.item[itemContext]}); %>
              <% break; %>
            <% } %>
            <%- include('./polygon', {coords: sceneData.overlayNodes[key].coords, data: sceneData.overlayNodes[key].contexts.item.default}); %>

          <% } %>
        <% } else { %>
          <%- include('./polygon', {coords: sceneData.overlayNodes[key].coords, data: sceneData.overlayNodes[key].contexts[playerData.context]}); %>
        <% } %>
      <% } %>


      <% for (let key in sceneData.overlayNodes) {%>
        <%- include('./polygon', {coords: sceneData.overlayNodes[key].coords, data: sceneData.overlayNodes[key].contexts[playerData.context]}); %>
      <% } %>
    </svg>
  </div>
  <div id="fragments">
    <% if (sceneData.fragments != null) { %>
      <% for (let key in sceneData.fragments) {%>
        <img
          src="/<%= sceneData.fragments[key].path %>"
          class="fragment-image <%= sceneData.fragments[key].show ? 'revealed' : ''  %>"
          id="#fragment-<%= key %>"
        />
      <% } %>
    <% } %>
  </div>
  <div id="basemat">
    <img
      src="/<%= sceneData.basemats.current %>"
      class="base-image"
      id="#basemat-<%= sceneData.id %>"
    />
  </div>
</div>

<% if (sceneData.audioUpdate) { %>
<audio id="audio-player" loop 
  hx-swap-oob="true">
  <source src="<%= sceneData.audio %>" type="audio/mpeg">
</audio>
<% } %>

<div id="inventory-menu" hx-swap-oob="true"></div>
