<button 
    id="inventory-use-item-button"
    class="use-item" 
    hx-get="player/inventory/use-item?item=<%= selectedItem %>"
    hx-target="#main-scene"
    hx-swap="outerHTML"
    hx-trigger="triggerClick throttle:0.5s"
    hx-on:click="window.interactivity.clickBus(event)"
    hx-swap-oob="true">Use Item</button>

<div id="inventory-visuals" class="visuals" hx-swap-oob="true">
    <div class="item-portrait">
        <% for (let index = 0; index < inventory.itemsArray.length; index++) {%>
        <% if(selectedItem == inventory.itemsArray[index].id) {  %>
        <img src="<%= inventory.itemsArray[index].image %>"/>
        <% } %>
        <% } %>
    </div>
    <div class="item-description">
        <% for (let index = 0; index < inventory.itemsArray.length; index++) {%>
        <% if(selectedItem == inventory.itemsArray[index].id) {  %>
        <p><%= inventory.itemsArray[index].descriptionRules %></p>
        <p><%= inventory.itemsArray[index].descriptionFlavor %></p>
        <% } %>
        <% } %>
    </div>
    <button 
        class="toggle-description" 
        hx-on="click: window.interactivity.toggleClass([{className: 'revealed', target: '#inventory-inner .visuals .item-description'}]) ">Toggle Description</button>
</div>

<div id="inventory-list" class="list" hx-swap-oob="true">
    <% for (let index = 0; index < inventory.itemsArray.length; index++) {%>
    <div 
        class="item-row <%= selectedItem == inventory.itemsArray[index].id ? 'selected' : '' %>" 
        hx-get="player/inventory/select-item?item=<%= inventory.itemsArray[index].id %>"
        hx-swap="outerHTML"
        hx-trigger="triggerClick throttle:0.5s"
        hx-on:click="window.interactivity.clickBus(event)"
        >
        <p><%= inventory.itemsArray[index].name %></p>
    </div>
    <% } %>
</div>