
    <div class="inner">
        <div class="close">
            <button hx-get="/deleteme" hx-target="#inventory-menu .inner" hx-swap="delete" hx-trigger="click">X</button>
        </div>
        <div class="header">
            <h1>Inventory</h1>
        </div>
        <% for (let index = 0; index < inventory.length; index++) {%>
            <div class="visuals <%= index === 0 ? 'revealed' : '' %>" data-id="<%= inventory[index].id %>">
                <div class="item-portrait">
                    <img src="<%= inventory[index].image %>"/>
                </div>
                <div class="item-description">
                    <p><%= inventory[index].descriptionRules %></p>

                    <p><%= inventory[index].descriptionFlavor %></p>
                </div>
                <button class="toggle-description" hx-on="click: window.interactivity.toggleClass(<%= JSON.stringify(itemDescriptionToggle) %>) ">Toggle Description</button>
            </div>
        <% } %>

        <div class="list">
            <% for (let index = 0; index < inventory.length; index++) {%>
                <div class="item-row <%= index === 0 ? 'selected' : '' %>" data-key="<%= inventory[index].id %>" hx-on="click: window.interactivity.toggleClass(<%= JSON.stringify(itemRowToggle[index]) %>)">
                    <p><%= inventory[index].name %></p>
                </div>
            <% } %>
        </div>
    </div>

    