
    <div class="inner">
        <div class="close">
            <button hx-get="/deleteme" hx-target="#inventory-menu .inner" hx-swap="delete" hx-trigger="click">X</button>
        </div>
        <div class="header">
            <h1>Inventory</h1>
        </div>
        <% for (let index = 0; index < inventory.length; index++) {%>
            <div class="visuals revealed" data-id="<%= inventory[index].name %>">
                <div class="item-portrait revealed">
                    <img src="<%= inventory[index].image %>"/>
                </div>
                <div class="item-description">
                    <p><%= inventory[index].description %></p>
                </div>
            </div>
        <% } %>

        <div class="list">
            <% for (let index = 0; index < inventory.length; index++) {%>
                <div class="item-row" data-key="<%= inventory[index].name %>">
                    <p><%= inventory[index].name %></p>
                </div>
            <% } %>
        </div>
    </div>