
    <div id="inventory-inner" class="inner">
        <div class="close">
            <button 
            hx-get="/deleteme" 
            hx-target="#inventory-inner" 
            hx-swap="delete" 
            hx-trigger="triggerClick throttle:0.5s"
            hx-on:click="window.interactivity.clickBus(event)">X</button>
        </div>
        <div class="header">
            <h1>Inventory</h1>
            <button 
                id="inventory-use-item-button"
                class="use-item" 
                hx-get="player/inventory/use-item?item=<%= selectedItem %>"
                hx-target="#main-scene"
                hx-swap="outerHTML"
                hx-trigger="triggerClick throttle:0.5s"
                hx-on:click="window.interactivity.clickBus(event)">Use Item</button>
        </div>

        <div id="inventory-visuals" class="visuals">
            <div class="item-portrait">
                <% for (let index = 0; index < inventory.itemsArray.length; index++) {%>
                <% if(selectedItem == inventory.itemsArray[index].id) {  %>
                <img src="<%= inventory.itemsArray[index].image %>"/>
                <% } %>
                <% } %>
            </div>
            <div class="item-description">
                <% for (let index = 0; index < inventory.itemsArray.length; index++) {%>
                <% if(selectedItem == inventory.itemsArray[index].id) {  %>
                <p><%= inventory.itemsArray[index].descriptionRules %></p>
                <p><%= inventory.itemsArray[index].descriptionFlavor %></p>
                <% } %>
                <% } %>
            </div>
            <button 
                class="toggle-description" 
                hx-on="click: window.interactivity.toggleClass([{className: 'revealed', target: '#inventory-inner .visuals .item-description'}]) ">Toggle Description</button>
        </div>

        <div id="inventory-list" class="list">
            <% for (let index = 0; index < inventory.itemsArray.length; index++) {%>
            <div 
                class="item-row <%= selectedItem == inventory.itemsArray[index].id ? 'selected' : '' %>" 
                hx-get="player/inventory/select-item?item=<%= inventory.itemsArray[index].id %>"
                hx-swap="outerHTML"
                hx-trigger="triggerClick throttle:0.5s"
                hx-on:click="window.interactivity.clickBus(event)"
                >
                <p><%= inventory.itemsArray[index].name %></p>
            </div>
            <% } %>
        </div>
        <!-- <div id="inventory-list" class="list">
            <% for (let index = 0; index < inventory.length; index++) {%>
                <div 
                class="item-row <%= index == 0 ? 'selected' : '' %>" 
                data-key="<%= inventory[index].id %>" 
                hx-on="click: window.interactivity.toggleClass(<%= JSON.stringify(itemRowToggle[index]) %>)"
                hx-get="player/inventory/select-item">
                    <p><%= inventory[index].name %></p>
                </div>
            <% } %>
        </div> -->
    </div>

    