
    <div id="inventory-inner" class="inner">
        <div class="close">
            <button 
            hx-get="/deleteme" 
            hx-target="#inventory-inner" 
            hx-swap="delete" 
            hx-trigger="triggerClick throttle:0.5s"
            hx-on:click="window.interactivity.clickBus(event)">X</button>
        </div>
        <div class="header">
            <h1>Inventory</h1>
            <button 
                id="inventory-use-item-button"
                class="use-item" 
                hx-get="player/inventory/use-item?item=<%= selectedItem %>"
                hx-target="#main-scene"
                hx-swap="outerHTML"
                hx-trigger="triggerClick throttle:0.5s"
                hx-on:click="window.interactivity.clickBus(event)"
                disabled>Use Item</button>
        </div>

        <div id="inventory-visuals" class="visuals">
            <div class="item-portrait">
                <% for (let index = 0; index < inventory.length; index++) {%>
                <% if(selectedItem == inventory[index].id) {  %>
                <img src="<%= inventory[index].image %>"/>
                <% } %>
                <% } %>
            </div>
            <div class="item-description">
                <% for (let index = 0; index < inventory.length; index++) {%>
                <% if(selectedItem == inventory[index].id) {  %>
                <p><%= inventory[index].descriptionRules %></p>
                <p><%= inventory[index].descriptionFlavor %></p>
                <% } %>
                <% } %>
            </div>
            <button 
                class="toggle-description" 
                hx-on="click: window.interactivity.toggleClass([{className: 'revealed', target: '#inventory-inner .visuals .item-description'}]) ">Toggle Description</button>
        </div>

        <div id="inventory-list" class="list">
            <% for (let index = 0; index < inventory.length; index++) {%>
            <div 
                class="item-row <%= selectedItem == inventory[index].id ? 'selected' : '' %>" 
                hx-get="player/inventory/select-item?item=<%= inventory[index].id %>"
                hx-swap="outerHTML"
                hx-trigger="triggerClick throttle:0.5s"
                hx-on:click="window.interactivity.clickBus(event)"
                >
                <p><%= inventory[index].name %></p>
            </div>
            <% } %>
        </div>
    </div>

    