<!DOCTYPE html>
<script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
<script type="module">
    import { interactivity } from "/js/interactivity.js";
    window.interactivity = interactivity;

    const main = document.getElementById("main");
    const sceneWrapper = document.getElementById("main-scene-wrapper");
    const contextMenu = document.getElementById("context-menu");
    const staticWidth = 100;
    const staticHeight = 100;

    // Hijack the right-click
    main.addEventListener('contextmenu', function(e) {
        e.preventDefault();
    }, false);

    // Clicking off the context menu should close it
    main.addEventListener('click', function(e) {
        contextMenu.classList.remove("revealed");
    }, false);

    // Spawn the game context menu on right click with positioning
    sceneWrapper.addEventListener('contextmenu', function(e) {
        e.stopPropagation();
        const rect = main.getBoundingClientRect();
        const topPos = e.pageY - rect.top >= rect.height - staticHeight ? Math.floor(e.pageY - rect.top - staticHeight) : Math.floor(e.pageY - rect.top);
        const leftPos = e.pageX - rect.left >= rect.width - staticWidth ? Math.floor(e.pageX - rect.left - staticWidth) : Math.floor(e.pageX - rect.left);
        contextMenu.style.setProperty('top', `${topPos}px`);
        contextMenu.style.setProperty('left', `${leftPos}px`); 
        contextMenu.classList.toggle("revealed");
        e.preventDefault();
    }, false);

</script>

<head>
    <title><%= mainTitle %></title>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="flex-centered">
        <div id="outer-container">
            <div id="main">
                <%- include('./partials/menus/main-menu'); %>
                <div id="inventory-menu"></div>
                <div id="title-screen-wrapper">
                    <%- include('./partials/title-screen.ejs'); %>
                </div>
                <div id="main-scene-wrapper"></div>
                <%- include('./partials/menus/context-menu.ejs'); %>
            </div>
        </div>
    </div>

    <%- include('./partials/audio-player.ejs'); %>
</body>

</html>